@import '../../../stylesheets/variables/_colors.scss';

.catalog {
  &__menu {
    padding-bottom: 20px;
    border-bottom: 1px solid $border-sort-block;
    margin-bottom: 50px;
  }

  &__container {
    width: 77%;
  }

  &__banner {
    margin-bottom: 50px;
  }

  &__header {
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: $primary-card-text;
    margin-bottom: 40px;
  }

  &__context {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    column-gap: 5%;
  }

  &__menu-sort {
    position: relative;
    margin-left: auto;
    justify-self: end;
  }

  &__menu-form {
    position: relative;
  }

  &__menu-sort-arrow {
    position: absolute;
    top: 15px;
    bottom: auto;
    left: auto;
    right: 15px;
    font-size: 8px;
  }

  &__cards {

  }

  &__cards.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
  }

  &__cards.table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, 1fr);
    grid-row-gap: 25px;
  }
}
