@mixin button {
  display: block;
  background: linear-gradient(258.51deg, #00c4f0 4.44%, #0083e8 125.5%);
  box-shadow: 0 2px 15px rgba(43, 156, 240, 0.3);
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin button-hover {
  cursor: pointer;
  background: #00c9f5;
  box-shadow: 0 2px 20px rgba(43, 156, 240, 0.5);
}

@mixin button-active {
  background: #00C9F5;
  box-shadow: none;
}
