$light-gray: rgba(39, 39, 39, 0.1);
$gray-text: rgba(17, 17, 17, 0.4);

$btn-disabled: #ffffff;

$red: red;

$blue: #00c9f5;

$borderCartList: rgba(221, 221, 221, 0.5);

/* Product-card colors */
$rating-text: #0089e5;
$rating-background: #e0f3ff;
$primary-card-text: #111111;
$vendor-stock-text: #999999;
$card-button-text: #fdfdfd;
$card-button-background: linear-gradient(
  258.51deg,
  #00c4f0 4.44%,
  #0083e8 125.5%
);
$small-card-description: #272727;

/* Filters colors */
$checkbox-active: #39c1f8;

// payment modal window

$valid: #6fcc2994;
$invalid: red;
$modal-background: #00000021;

//filters windows
$border-sort-block: #dddddd;

// dual slider colors
$slider-text: rgba(17, 17, 17, 0.4);
$blue: #0083e8;
$slider-background: rgba(39, 39, 39, 0.1);
