$light-gray: rgba(39, 39, 39, 0.1);
$gray-text: rgba(17, 17, 17, 0.4);

$btn-disabled: #FFFFFF;

$red: red;

$blue: #00C9F5;

$borderCartList: rgba(221, 221, 221, 0.5);


/* Product-card colors */
$rating-text: #0089E5;
$rating-background: #E0F3FF;
$primary-card-text: #111111;
$vendor-stock-text: #999999;
$card-button-text: #FDFDFD;
$card-button-background: linear-gradient(258.51deg, #00C4F0 4.44%, #0083E8 125.5%);
$small-card-description: #272727;


/* Filters colors */
$checkbox-active: #39c1f8;

// payment modal window

$valid: #6fcc2994;
$invalid: red;
$modal-background: #00000021;

//filters windows
$border-sort-block: #DDDDDD;

