@import '../../../stylesheets/variables/_colors.scss';

.filters_label {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $small-card-description;
}

.filters_checkbox-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filters_checkbox-custom+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.filters_checkbox-custom+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $light-gray;
  border-radius: 0.1rem;
  margin-right: 0.7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.filters_checkbox-custom:checked+label::before {
  border-color: $checkbox-active;
  background-color: $checkbox-active;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


