.card {
  display: grid;
  grid-template-columns: 1fr 5.7fr 4.2fr;
  grid-column-gap: 30px;
  width: 100%;
  margin: 0 auto 85px;
}

.card__gallery {
  display: flex;
  flex-direction: column;
}

.card__gallery-img {
  height: 95px;
  margin-bottom: 15px;
}

.card__main-img {
  height: 540px;
  width: 540px;
}

.card__info {
  width: 36%;
}

.card__rating {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $rating-text;
  padding: 10px 15px;
  background-color: $rating-background;
  border-radius: 50px;
  margin-bottom: 10px;
}

.card__brand, .card__description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: $primary-card-text;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card__vendor {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: $vendor-stock-text;
  margin-bottom: 25px;
}

.card__price {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  color: $primary-card-text;
  margin-bottom: 0px;
}

.card__stock {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: $vendor-stock-text;
  margin-top: 0px;
  margin-bottom: 50px;
}

.card__button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: $card-button-text;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 49px 9px 48px;
  background: $card-button-background;
  box-shadow: 0px 2px 15px rgba(43, 156, 240, 0.3);
  border-radius: 2px;
  border: none;
}

//ToDo написать стили чтобы блок скрывался
.description__hide-container {
  width: 70%;
  margin: 0 auto;
}
