@import '../../../stylesheets/variables/_colors.scss';

.catalog {
  &__menu {
    display: flex;
    width: 100%;
   }

  &__menu-buttons {
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: $primary-card-text;
    background-color: $btn-disabled;
    border: 1px solid $border-sort-block;
    border-radius: 2px;
    width: fit-content;
    padding: 7px 15px;
    margin-right: 15px;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      border-color: $border-sort-block-hover;
    }
  }

  &__menu-buttons:last-child {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
  }

  &__icon-pos {
    margin-right: 10px;
  }
}
